/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>

#define DEFAULT 0
#define LOWER   1
#define RAISE   2
#define NAVIG   3
#define FUNCT   4
#define ADJST   5

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";
        combo_tab {
            timeout-ms = <30>;
            key-positions = <2 3>;
            bindings = <&kp TAB>;
        };
        combo_esc {
            timeout-ms = <30>;
            key-positions = <14 15>;
            bindings = <&kp ESC>;
        };
        combo_lbspc {
            timeout-ms = <70>;
            key-positions = <26 27>;
            bindings = <&kp BSPC>;
        };
        combo_ldel {
            timeout-ms = <70>;
            key-positions = <27 28>;
            bindings = <&kp DEL>;
        };
        combo_enter {
            timeout-ms = <40>;
            key-positions = <20 21>;
            bindings = <&kp ENTER>;
        };
        combo_rbspc {
            timeout-ms = <70>;
            key-positions = <31 32>;
            bindings = <&kp BSPC>;
        };
        combo_rdel {
            timeout-ms = <70>;
            key-positions = <32 33>;
            bindings = <&kp DEL>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
                // ------------------------------------------------------------------------------------
                // |  TAB |  Q   |  W   |  E   |  R   |  T   /\   Y  |  U  |  I   |  O   |  P  | BKSP |
                // |  ESC |  A   |  S   |  D   |  F   |  G  /  \  H  |  J  |  K   |  L   |  ;  |   '  |
                // | SHFT |CTL(Z)|ALT(X)|SFT(C)|CTL(V)|  B /    \ N  |  M  |SFT(,)|ALT(.)|  /  |RETURN|
                //                          | LGUI | LWR |  SPACE  | RSE | FUNC |
            bindings = <
                &kp TAB   &kp Q       &kp W      &kp E       &kp R       &kp T   &kp Y	 &kp U   &kp I           &kp O        &kp P    &kp BSPC
                &kp ESC   &kp A       &kp S      &kp D       &kp F       &kp G   &kp H   &kp J   &kp K           &kp L        &kp SEMI &kp SQT
                &kp LSHFT &hm LCTRL Z &hm LALT X &hm LSHFT C &hm LCTRL V &kp B   &kp N   &kp M   &hm RSHFT COMMA &hm RALT DOT &kp FSLH &kp RET
                                                &mo LOWER &kp LSHFT &mo RAISE &lt NAVIG SPACE &mo FUNCT
            >;
        };

        lower_layer {
                // ----------------------------------------------------------------------------
                // | DEL | CAPS|  &  |  *  |  (  |      /\      |  {  |  +  |  }  |     | DEL |
                // |     | GUI |  $  |  %  |  ^  |  )  /  \  ~  |     |  _  |     |     | "|" |
                // |     |     |  !  |  @  |  #  |    /    \PRSC|     |  ~  |     |     |     |
                //                       |     |     |      | ADJ |     |
            bindings = <
                &kp DEL  &kp CLCK &kp AMPS &kp ASTRK &kp LPAR  &trans         &trans    &kp LBRC  &kp PLUS  &kp RBRC  &trans    &kp DEL
                &trans   &kp LGUI &kp DLLR &kp PRCNT &kp CARET &kp RPAR       &trans    &trans    &kp UNDER &trans    &trans    &kp PIPE
                &trans   &trans   &kp EXCL &kp AT    &kp HASH  &trans         &kp PSCRN &trans    &kp TILDE &trans    &trans    &trans
                                                      &trans  &trans  &trans  &mo ADJST &trans
            >;
        };

        raise_layer {
                // -----------------------------------------------------------------------------
                // | DEL | CAPS |  7  |  8  |  9  |      /\      |  [  |  =  |  ]  |  0  | DEL |
                // |     | GUI  |  4  |  5  |  6  |  0  /  \     |  (  |  -  |  )  |  ]  |  \  |
                // |     |RETURN|  1  |  2  |  3  |    /    \PRSC|     |  `  |     |     |     |
                //                        |     | ADJ |      |     |     |
            bindings = <
                &kp DEL  &kp CLCK &kp N7   &kp N8   &kp N9   &trans         &trans    &kp LBKT  &kp EQUAL &kp RBKT  &trans    &kp DEL
                &trans   &kp LGUI &kp N4   &kp N5   &kp N6   &kp N0         &trans    &kp LPAR  &kp MINUS &kp RPAR  &trans    &kp BSLH
                &trans   &kp RET  &kp N1   &kp N2   &kp N3   &trans         &kp PSCRN &trans    &kp GRAVE &trans    &trans    &trans
                                                  &mo ADJST &kp N0  &trans  &trans  &trans
            >;
        };

        navig_layer {
                // ----------------------------------------------------------------------------
                // | DEL | CAPS|     |     |     |      /\      |     |     |     |     | DEL |
                // |     | GUI |     |     |     |     /  \     | LEFT|  UP |RIGHT|PG-UP|     |
                // |     |     |     |     |     |    /    \    | HOME| DOWN| END |PG-DN|     |
                //                        |     |     |     |     |     |
            bindings = <
                &kp DEL  &kp CLCK &trans   &trans   &trans   &trans          &trans   &trans   &trans    &trans    &trans    &kp DEL
                &trans   &kp LGUI &trans   &trans   &trans   &trans          &trans   &kp LEFT &kp UP    &kp RIGHT &kp PG_UP &trans
                &trans   &trans   &trans   &trans   &trans   &trans          &trans   &kp HOME &kp DOWN  &kp END   &kp PG_DN &trans
                                                  &trans   &trans   &trans   &trans   &trans
            >;
        };

        funct_layer {
                // -----------------------------------------------------------------------------
                // | DEL |     |     |     |     |       /\       | F9  | F10 | F11 | F12 | DEL |
                // |     |     |     |     |     |      /  \      | F5  | F6  | F7  | F8  |     |
                // |     |     |     |     |     |     /    \     | F1  | F2  | F3  | F4  |     |
                //                        |     |     |     |     |     |
            bindings = <
                &kp DEL  &trans   &trans   &trans   &trans   &trans          &trans   &kp F9   &kp F10  &kp F11  &kp F12  &kp DEL
                &trans   &trans   &trans   &trans   &trans   &trans          &trans   &kp F5   &kp F6   &kp F7   &kp F8   &trans
                &trans   &trans   &trans   &trans   &trans   &trans          &trans   &kp F1   &kp F2   &kp F3   &kp F4   &trans
                                                  &trans   &trans   &trans   &trans   &trans
            >;
        };

        adjust_layer {
                // ------------------------------------------------------------------------------
                // |     |     |     |     |     |       /\   BT1 | BT2 | BT3 | BT4 | BT5 |BT CLR|
                // |     |     |     |     |     |      /  \      |     |     |     |     |      |
                // |     |     |     |     |     |BtLdr/    \RESET|     |     |     |     |      |
                //                        |     |     |     |     |     |
            bindings = <
                &none   &none   &none   &none   &none   &none        &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &bt BT_CLR
                &none   &none   &none   &none   &none   &none        &none        &none        &none        &none        &none        &none
                &none   &none   &none   &none   &none   &bootloader  &reset       &none        &none        &none        &none        &none
                                                &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
